	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="#">Check Now</a></div>
						</div>
						<div class="footer_title">Liên hệ 24/7</div>
						<div class="footer_phone">0968893364</div>
						<div class="footer_contact_text">
							<p>Phường 25, Quân Bình Thạnh</p>
							<p>TP.Hồ Chí Minh, Việt Nam</p>
						</div>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								<li><a href="#"><i class="fab fa-google"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-2 offset-lg-2">
					<div class="footer_column">
						<div class="footer_title">Tìm Nhanh</div>
						<ul class="footer_list">
							<li><a href="#">Nhà Vườn</a></li>
							<li><a href="#">Vườn trái cây</a></li>
							<li><a href="#">Vườn hoa</a></li>
							<li><a href="#">Vườn cây cảnh</a></li>
						</ul>
						<div class="footer_subtitle">Nhà Vườn</div>
						<ul class="footer_list">
							<li><a href="#">Miễn phí vé</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title">Liên quan</div>
						<ul class="footer_list footer_list_2">
							<li><a href="#">Video vườn trái cây</a></li>
							<li><a href="#">Accessories</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title">Chăm sóc khách hàng</div>
						<ul class="footer_list">
							<li><a href="#">Tài khoản của tôi</a></li>
                                <li><a href="#">Theo dõi lịch tour</a></li>
							<li><a href="#">Danh sách yêu thích</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="#">Hỗ trợ</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>

